.pa-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: .5em;
  border-color: #bfbfbf !important;
  background-color: #fff;
  color: #000;
  border: 1px solid;
  &:hover {
    opacity: .85;
  }
  &.pa-dark {
    border-color: rgba(255, 255, 255, .5) !important;
    background-color: rgba(0, 0, 0, .5) !important;
    color: #fff !important;
    border: 2px solid;
  }
  &.pa-primary {
    border-color: rgb(52, 152, 219) !important;
    background-color: rgb(52, 152, 219) !important;
    color: #fff !important;
  }
  &.pa-error {
    border-color: rgb(231, 76, 60) !important;
    background-color: rgb(231, 76, 60) !important;
    color: #fff !important;
  }
  &.pa-spacing {
    padding: .3125em 1em !important;
    margin-right: 1em !important;
  }
}
