body.pa-overflow-fix {
  overflow-y: hidden;
}

@media (max-width: 576px) {
  #pa-problem-panel {
    width: 100%;
    margin-bottom: .5em;
    button {
      width: 100%;
    }
  }
}

.main-container header .header-layout > div > div {
  display: flex;
  align-items: baseline;
  .pa-button.pa-dark {
    border-width: 1px !important;
  }
}
