body.pa-overflow-fix {
  overflow-y: hidden;
}

.main-container header .header-layout > div > div {
  display: flex;
  align-items: baseline;
  .pa-button.pa-dark {
    border-width: 1px !important;
  }
}
