.pa-dropdown {
  position: absolute;
  background: #fff;
  color: #333;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .3);
  font-size: 1rem;
  width: max-content;
  min-width: 200px;
  padding: .6em .8em;
  z-index: 9;
}