.lform-size-middle {
  font-size: .875em;
  padding: .3125em 1em;
}
.lform-size-small {
  font-size: .875em;
  padding: .125em .5em;
}
.theme-bg, .theme-fg {
  filter: none !important;
  backdrop-filter: none !important;
}
